/*************************************************************/
/* Fonts */

@font-face
{
    font-family: GlacialIndifference;
    src: url(GlacialIndifference-Regular.otf);
    font-weight: normal;
    font-style: normal;
}
@font-face
{
    font-family: GlacialIndifference;
    src: url(GlacialIndifference-Bold.otf);
    font-weight: bold;
    font-style: normal;
}
@font-face
{
    font-family: GlacialIndifference;
    src: url(GlacialIndifference-Italic.otf);
    font-weight: normal;
    font-style: italic;
}



/*************************************************************/
/* Root elements */

html
{
    height: 100%;
}

body
{
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
    
    height: 100%;
    
    background-color: rgb(240,240,240);
    color: rgb(50,50,50);

    font-family: GlacialIndifference, sans-serif;
}



/*************************************************************/
/* Header */

header
{
    display: flex;

    padding: 0.33%;
    margin: 0;
}
header > div
{
    flex: none;

    padding: 5px 10px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding-right: 20px;

    background-color: rgb(50,50,50);
    color: white;

    text-align: center;

    /* border-right: 1px solid black; */
}
header > p
{
    margin: 0 0 0 20px;
}
header > div > h1
{
    margin: 0;

    font-weight: normal;
    font-size: 220%;
}
header > div > h2
{
    margin: 0;

    font-weight: normal;
}



/*************************************************************/
/* Gallery */

.gallery
{
}
.gallery > a
{
    display: inline-block;

    margin: 0.33%;

    position: relative;

    width: 16%;
    height: 0;
    padding-bottom: 16%;

    background-size: cover;
    background-position: center;

    text-decoration: none;

    box-shadow: 0 3px 8px rgba(0,0,0,0.7);
}
.gallery > a > span
{
    display: block;

    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    overflow: hidden;

    color: rgba(0,0,0,0);

    text-align: left;
    font-size: 140%;
}
.gallery > a > span > *
{
    display: block;

    margin: 15px;
}
.gallery > a:hover > span
{
    background-color: rgba(0,0,0,0.85);
    color: white;
}



/*************************************************************/
/* Artwork pop-up */

.artwork
{
    display: none;

    position: fixed;
}
.artwork:target
{
    display: block;
}
.artwork > .background
{
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: rgba(255,255,255,0.8);    
}
.artwork > div
{
    position: fixed;
    top: 50%;
    left: 50%;

    white-space: nowrap;

    transform: translate(-50%,-50%);
}
.artwork > div > img
{
    display: inline-block;
    vertical-align: top;

    max-width: 40vw;
    max-height: 70vh;

    box-shadow: 0 5px 20px rgba(0,0,0,0.4);
}
.artwork > div > .side
{
    display: inline-block;
    vertical-align: top;

    max-width: 30vw;

    white-space: normal;
}
.artwork > div > .side > *
{
    width: 100%;
    margin: 0 0 5px 5px;
    padding: 5px 10px;

    box-sizing: border-box;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
}
.artwork > div > .side > .info
{
    background-color: rgb(50,50,50);
    color: white;

    font-size: 105%;
}
.artwork > div > .side > .info > *
{
    display: block;

    margin: 0 0 5px 0;
}
.artwork > div > .side > .info > :last-child
{
    margin-bottom: 0;
}
.artwork > div > .side > .info h4
{
    font-size: 140%;
}
.artwork > div > .side > .info .author
{
    font-size: 140%;
    font-style: italic;
}
.artwork > div > .side > .info time
{
    font-size: 140%;
    padding-left: 15px;
    text-decoration: underline;
}
.artwork > div > .side > .info p
{
    margin-top: 15px;
}
.artwork > div > .side > button
{
    background-color: rgba(37,116,169, 0.9);
    color: white;

    font-family: inherit;
    font-weight: bold;
    font-size: 110%;

    border: none;
}
.artwork > div > .side > .close
{
    display: block;

    background-color: rgba(255,255,255, 0.9);
    color: rgb(50,50,50);

    text-align: center;
    text-decoration: none;

    font-weight: bold;
    font-size: 110%;
}



/*************************************************************/
/* Split divs */

.vsplit
{
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.vsplit > *
{
    /*overflow-y: auto;*/
}

.hsplit
{
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: row;
}
.hsplit > *
{
    flex: 1;

    overflow-y: auto;
}
