/*************************************************************/
/* Fonts */

@font-face
{
    font-family: GlacialIndifference;
    src: url(GlacialIndifference-Regular.otf);
    font-weight: normal;
    font-style: normal;
}
@font-face
{
    font-family: GlacialIndifference;
    src: url(GlacialIndifference-Bold.otf);
    font-weight: bold;
    font-style: normal;
}
@font-face
{
    font-family: GlacialIndifference;
    src: url(GlacialIndifference-Italic.otf);
    font-weight: normal;
    font-style: italic;
}



/*************************************************************/
/* Misc */
a
{
}



/*************************************************************/
/* Buttons */

.button
{
    font-family: inherit;
    font-weight: bold;
    font-size: 110%;
    text-align: center;
    text-decoration: none;
    border: none;
    padding: 5px 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
}
.button.ok
{
    background-color: rgba(37,116,169, 0.9);
    color: white;
}
.button.cancel
{
    background-color: rgba(255,255,255, 0.9);
    color: rgb(50,50,50);
}
.button[disabled]
{
    color: rgba(255,255,255,0.7);
    font-style: italic;
    font-weight: normal;
    background-color: rgb(0,0,0);
}
.button.ok:hover:not([disabled])
{
    color: white;
    background-color: rgb(0,200,0);
}
.button.cancel:hover:not([disabled])
{
    color: white;
    background-color: rgb(110,110,110);
}
.buttons
{
    text-align: center;
}
.buttons > *
{
    display: inline-block;
    margin: 10px;
}



/*************************************************************/
/* Root elements */

html
{
    height: 100%;
}

body
{
    margin: 0;
    padding: 0.66%;
    box-sizing: border-box;
    
    height: 100%;
    
    background-color: rgb(240,240,240);
    color: rgb(50,50,50);

    font-family: GlacialIndifference, sans-serif;
}



/*************************************************************/
/* Header */

header
{
    flex-shrink: 0;
    display: flex;

    /*padding: 0.33%;*/
    margin: 0 0 0.66% 0;
}
header > div
{
    flex: none;

    padding: 5px 10px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding-right: 20px;

    background-color: rgb(50,50,50);
    color: white;

    text-align: center;

    /* border-right: 1px solid black; */
}
.admin header > div
{
    background-color: rgb(120,30,30);
}
header > p
{
    margin: 0 0 0 20px;
}
header > div > h1
{
    margin: 0;

    font-weight: normal;
    font-size: 220%;
}
header > div > h2
{
    margin: 0;

    font-weight: normal;
}
header > div > h3
{
    font-size: 140%;
    margin: 15px 0 5px 0;
}



/*************************************************************/
/* Admin create session header */

header a
{
    display: inline-block;
    color: inherit;
    border: 1px dashed rgb(160,160,160);
    
    text-decoration: none;
    padding: 0 5px;
}
header a:hover
{
    border-style: solid;
}
header > .validate
{
    margin-left: auto;
}
header > .validate > a
{
    display: inline-block;
    min-width: 10em;
    margin-left: 20px;
}
header > .validate > a:hover
{
    border: none;
}



/*************************************************************/
/* Gallery */

.gallery
{
    margin: -0.33%;
}
.gallery > a
{
    display: inline-block;

    margin: 0.33%;

    position: relative;

    width: 16%;
    height: 0;
    padding-bottom: 16%;

    background-size: cover;
    background-position: center;

    text-decoration: none;

    box-shadow: 0 3px 8px rgba(0,0,0,0.7);
}
.gallery > a > span
{
    display: block;

    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    overflow: hidden;

    color: rgba(0,0,0,0);

    text-align: left;
    font-size: 140%;
}
.gallery > a > span > *
{
    display: block;

    margin: 15px;
}
.gallery > a:hover > span
{
    background-color: rgba(0,0,0,0.9);
    color: white;
}
.gallery > a > em
{
    display: block;
    
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;
    
    color: rgb(50,50,50);
    background-color: white;
    font-style: normal;
    font-size: 220%;
    font-weight: bold;
    padding: 4px 8px;
    box-shadow: 0 0 8px rgba(0,0,0,0.8);
}


/*************************************************************/
/* Small & scroll gallery */

.gallery.small
{
    margin: 0;
}
.gallery.small > a > span
{
    font-size: 80%;
}
.gallery.small > a > span > *
{
    margin: 10px;
}
.gallery.scroll
{
    overflow-y: auto;
}



/*************************************************************/
/* Admin create session */

.admin.create .hsplit h4
{
    margin: 0 0 3px 0;
}
.admin.create .hsplit h5
{
    margin: 0 0 10px 0;
    font-weight: normal;
}
.admin.create .hsplit > *
{
    display: flex;
    flex-direction: column;
}
.admin.create .hsplit > :first-child
{
    margin-right: 8px;
}
.admin.create .hsplit > :last-child
{
    margin-left: 8px;
}
.admin.create .hsplit > * > .gallery
{
    flex: 1;
    padding: 8px;
}
.admin.create .hsplit > :first-child > .gallery
{
    border: 1px solid rgb(160,160,160);
}
.admin.create .hsplit > :last-child > .gallery
{
    border: 1px dashed rgb(160,160,160);
}



/*************************************************************/
/* Modals */

.modal
{
    display: none;

    position: absolute;
}
.modal:target
{
    display: block;
}
.modal > .background
{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;

    width: 100%;
    height: 100%;

    background-color: rgba(255,255,255,0.95);    
}
.modal > .content
{
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 101;

    white-space: nowrap;

    transform: translate(-50%,-50%);
}
.modal .buttons > *
{
    margin: 10px;
}



/*************************************************************/
/* Error modal */

.modal.error .content strong
{
    display: block;
    color: rgb(220,0,0);
    font-size: 120%;
    border: 1px solid;
    padding: 10px;
    text-align: center;
}



/*************************************************************/
/* Artwork modal */

.artwork > div > img
{
    display: inline-block;
    vertical-align: top;

    max-width: 40vw;
    max-height: 70vh;

    box-shadow: 0 5px 20px rgba(0,0,0,0.4);
}
.artwork > div > .side
{
    display: inline-block;
    vertical-align: top;

    max-width: 30vw;

    white-space: normal;
}
.artwork > div > .side > *
{
    width: 100%;
    margin: 0 0 5px 5px;
    padding: 5px 10px;

    box-sizing: border-box;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
}
.artwork > div > .side > .info
{
    background-color: rgb(50,50,50);
    color: white;

    font-size: 105%;
}
.artwork > div > .side > .info > *
{
    display: block;

    margin: 0 0 5px 0;
}
.artwork > div > .side > .info > :last-child
{
    margin-bottom: 0;
}
.artwork > div > .side > .info h4
{
    font-size: 140%;
}
.artwork > div > .side > .info .author
{
    font-size: 140%;
    font-style: italic;
}
.artwork > div > .side > .info time
{
    font-size: 140%;
    padding-left: 15px;
    text-decoration: underline;
}
.artwork > div > .side > .info p
{
    margin-top: 15px;
}
.artwork > div > .side > .cancel.button
{
    display: block;
}
.artwork > div > .side > .votes
{
    background-color: transparent;
    box-shadow: none;
    font-size: 250%;
}


/*************************************************************/
/* Form */

label
{
    font-weight: bold;
}
input, textarea
{
    font-family: inherit;
    font-size: 100%;
    border: 1px solid rgb(200,200,200);
    padding: 5px;
    background-color: transparent;
}
textarea
{
    width: 100%;
    min-height: 9em;
}



/*************************************************************/
/* Split divs */

.vsplit
{
    height: 100%;
    width: 100%;
    /*overflow: hidden;*/
    display: flex;
    flex-direction: column;
}
.vsplit > *
{
}

.hsplit
{
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: row;
}
.hsplit > *
{
    flex: 1;
}



/*************************************************************/
/* Warning */

.warning
{
    flex: 1;
    position: relative;
    margin: 0;
}
.warning > *
{
    display: block;
    
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);

    font-weight: bold;
    font-size: 4.3vw;

    border: 1px solid rgb(50,50,50);
    padding: 20px;

    text-align: center;
}



/*************************************************************/
/* Admin Home */

.admin.home h3
{
    font-size: 150%;

    margin: 30px 0 5px 0;
}
.admin.home ul.history
{
    margin: 0;

    list-style-type: none;
    padding: 0;
}
.admin.home .button
{
    display: inline-block;
    margin: 5px 5px 5px 0;
}
