@font-face
{
    font-family: GlacialIndifference;
    src: url(GlacialIndifference-Regular.otf);
    font-weight: normal;
    font-style: normal;
}
@font-face
{
    font-family: GlacialIndifference;
    src: url(GlacialIndifference-Bold.otf);
    font-weight: bold;
    font-style: normal;
}
@font-face
{
    font-family: GlacialIndifference;
    src: url(GlacialIndifference-Italic.otf);
    font-weight: normal;
    font-style: italic;
}

body
{
    margin: 10px;
    
    /* background-color: rgb(50,50,50); */
    /* color: white; */

    background-color: rgb(240,240,240);
    color: rgb(50,50,50);

    font-family: GlacialIndifference, sans-serif;
}

header
{
    display: flex;
    
    padding: 0.33%;
    margin: 0;
}
header > div
{
    flex: none;

    padding: 5px 10px;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding-right: 20px;
    
    text-align: center;

    background-color: rgb(50,50,50);
    color: white;
    /* border-right: 1px solid black; */
}
header > p
{
    margin: 0 0 0 20px;
}
header > div > h1
{
    margin: 0;
    
    font-weight: normal;
    font-size: 220%;
}
header > div > h2
{
    margin: 0;
    font-weight: normal;
}

.gallery
{
}
.gallery > a
{
    display: inline-block;

    margin: 0.33%;

    position: relative;

    width: 16%;
    height: 0;
    padding-bottom: 16%;

    background-size: cover;
    background-position: center;

    text-decoration: none;

    box-shadow: 0 3px 8px rgba(0,0,0,0.7);
}
.gallery > a > span
{
    display: block;
    
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    overflow: hidden;

    color: rgba(0,0,0,0);

    text-align: left;
    font-size: 140%;
}
.gallery > a > span > *
{
    display: block;
    margin: 15px;
}
.gallery > a:hover > span
{
    background-color: rgba(0,0,0,0.85);
    color: white;
}


header
{
    
}